@import 'partials/vars';
@import 'partials/mixins';



.orange { background-color: orange; }
.green { background-color: green; }
.pink { background-color: pink; }
.blue { background-color: blue; }
.yellow-n { background-color: yellow; }





/*****************************************/
/* MEDIUM VIEWPORTS 					*/
/***************************************/

.block {
	width: 100%;
	height: 100px;
	margin-bottom: 5px;
}

.top {
	height: 30px;
	background-color: red;
}

.yellow {
	height: auto;
	margin-bottom: 0
}

.yellow-n {
	position: relative;
	float: left;
	height: 200px;
	margin-bottom: 5px;
	text-align: center;

	span {
		display: block;
		position: absolute;
		top:50%;
		width: 100%;
		transform: translateY(-50%);
	}
}

.yellow-1,
.yellow-3 {
	width: calc(50% - 5px);
}

.yellow-2,
.yellow-4 {
	width: 50%;
	margin-left: 5px;
}

.orange {
	height: 250px;
}

.yellow,
.pink {
	float: left;
	width: calc(70% - 5px);
}

.pink {
	height: 400px;
}

.green,
.blue {
	width: 30%;
	height: 250px;
	margin-left: 70%;
}





/*****************************************/
/* MEDIUM VIEWPORTS 					*/
/***************************************/

@include breakpoint-under(large) {

	// discard the code from the desktop viewport
	.yellow,
	.pink,
	.blue {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.green,
	.blue {
		margin-left: 0;
	}
	.yellow-n {
		display: none;
	}
	.yellow-1 {
		display: block;
		width: 100%;
	}


	// build the layout of the medium viewport
	.wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.yellow {
		order: 3;

		&-1 {
			height: 250px;
		}
	}

	.orange {
		order: 1;
		width: calc(70% - 5px);
		margin-right: 5px;
	}

	.green {
		order: 2;
		width: 30%
	}

	.pink {
		order: 4;
		height: 400px;
	}

	.blue {
		order: 5;
	}

}





/*****************************************/
/* SMALL VIEWPORTS 						*/
/***************************************/

@include breakpoint-under(medium) {
	.yellow-1,
	.orange,
	.green,
	.pink,
	.blue {
		height: 150px;
	}

	.orange,
	.green {
		width: 100%;
		margin-right: 0;
	}

	.yellow {
		order: 1;
	}
	.orange {
		order: 2;
	}
	.green {
		order: 3;
	}
	.pink {
		order: 4;
	}
	.blue {
		order: 5;
	}
}