<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{!-- styles --}}
	{{#each stylesheets}}
	<link rel="stylesheet" href="{{this}}">
	{{/each}}

</head>
	<body>