{{>header header}}

<div class="block top"></div>

<div class="wrapper">
	{{!-- order used on desktop --}}
	<div class="block orange"></div>
	<div class="block yellow">
		<div class="yellow-n yellow-1"><span>1</span></div>
		<div class="yellow-n yellow-2"><span>2</span></div>
		<div class="yellow-n yellow-3"><span>3</span></div>
		<div class="yellow-n yellow-4"><span>4</span></div>
	</div>
	<div class="block pink"></div>
	<div class="block green"></div>
	<div class="block blue"></div>
</div>

{{>footer footer}}